<a href="https://colab.research.google.com/github/MashMaleLLO/Project_APS_CE_DEV/blob/master/DataPrep_APS_CE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -U pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.41)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=54d16f877d61fca79f7f3083ccb334c5e170579be9e724e794d256c4c1b9e6b0
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 6.5 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633968 sha256=493823727b45bb56a635dabb0f913ddcdef6cb26c8905065fbbf752041f3403d
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [3]:
import pandas as pd
from pandasql import sqldf

# **Import** HashId CSV

In [28]:
df_WithNull = pd.read_csv('Hashid_ComData.csv',dtype={0:'string',1:'string'},encoding='TIS-620')
df = pd.read_csv('Hashid_ComData.csv',dtype={0:'string',1:'string'},encoding='TIS-620')
# df = df.dropna()
df_WithNull

,student_id,subject_id,grade,semester,year,curriculum
0,f31df81d081367bb50462e95405acd57,01006028,C+,1,2560,วิศวกรรมคอมพิวเตอร์
1,f31df81d081367bb50462e95405acd57,01006030,D,1,2560,วิศวกรรมคอมพิวเตอร์
2,f31df81d081367bb50462e95405acd57,01076001,C,1,2560,วิศวกรรมคอมพิวเตอร์
3,f31df81d081367bb50462e95405acd57,01076002,B+,1,2560,วิศวกรรมคอมพิวเตอร์
4,f31df81d081367bb50462e95405acd57,90201001,C+,1,2560,วิศวกรรมคอมพิวเตอร์
...,...,...,...,...,...,...
24348,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,19016404,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม
24349,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,19016505,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม
24350,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,19016506,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม
24351,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,90303005,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม
24352,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,90594015,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม

# **Query Only Constrain Subject and Only Computer Department.**

In [29]:
q_for_Computer_ContrainSub = "SELECT * FROM (SELECT * FROM df WHERE curriculum = 'วิศวกรรมคอมพิวเตอร์' OR curriculum = 'วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)') WHERE subject_id NOT LIKE '90%'"
df = sqldf(q_for_Computer_ContrainSub)
df

,student_id,subject_id,grade,semester,year,curriculum
0,f31df81d081367bb50462e95405acd57,01006028,C+,1,2560,วิศวกรรมคอมพิวเตอร์
1,f31df81d081367bb50462e95405acd57,01006030,D,1,2560,วิศวกรรมคอมพิวเตอร์
2,f31df81d081367bb50462e95405acd57,01076001,C,1,2560,วิศวกรรมคอมพิวเตอร์
3,f31df81d081367bb50462e95405acd57,01076002,B+,1,2560,วิศวกรรมคอมพิวเตอร์
4,f31df81d081367bb50462e95405acd57,01006031,F,2,2560,วิศวกรรมคอมพิวเตอร์
...,...,...,...,...,...,...
8175,8b6c9ad43a4fd390abdebfb034b4b330,01076031,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
8176,8b6c9ad43a4fd390abdebfb034b4b330,01076103,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
8177,8b6c9ad43a4fd390abdebfb034b4b330,01076104,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
8178,8b6c9ad43a4fd390abdebfb034b4b330,01076112,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
8179,8b6c9ad43a4fd390abdebfb034b4b330,01076118,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)

# **Partial Query for Computer and Computer Special Program.**

In [30]:
q_for_Com = "SELECT * FROM df WHERE curriculum = 'วิศวกรรมคอมพิวเตอร์'"
q_for_SpCom = "SELECT * FROM df WHERE curriculum = 'วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)'"
df_for_Com = sqldf(q_for_Com)
df_for_SpCom = sqldf(q_for_SpCom)
df_for_SpCom

,student_id,subject_id,grade,semester,year,curriculum
0,10eb70b54b130d82f2c70add2d31091b,01006031,D,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1,10eb70b54b130d82f2c70add2d31091b,01076004,C,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
2,10eb70b54b130d82f2c70add2d31091b,01076006,D,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
3,10eb70b54b130d82f2c70add2d31091b,01076012,D+,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
4,10eb70b54b130d82f2c70add2d31091b,01076009,D+,2,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
...,...,...,...,...,...,...
1320,8b6c9ad43a4fd390abdebfb034b4b330,01076031,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1321,8b6c9ad43a4fd390abdebfb034b4b330,01076103,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1322,8b6c9ad43a4fd390abdebfb034b4b330,01076104,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1323,8b6c9ad43a4fd390abdebfb034b4b330,01076112,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1324,8b6c9ad43a4fd390abdebfb034b4b330,01076118,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)

# **Data Discovery 1 : Have to handle with nan value and T() value**

In [ ]:
for col in df:
    print(df['grade'].unique())

['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']

# **Transfrom Grade Char() to Float()**

In [31]:

def transfromGrade(df):
  df.loc[df["grade"] == "A", "grade"] = 4
  df.loc[df["grade"] == "S", "grade"] = 4
  df.loc[df["grade"] == "T(A)", "grade"] = 4

  df.loc[df["grade"] == "B+", "grade"] = 3.5
  df.loc[df["grade"] == "T(B+)", "grade"] = 3.5

  df.loc[df["grade"] == "B+", "grade"] = 3.5
  df.loc[df["grade"] == "T(B+)", "grade"] = 3.5

  df.loc[df["grade"] == "B", "grade"] = 3
  df.loc[df["grade"] == "T(B)", "grade"] = 3

  df.loc[df["grade"] == "C+", "grade"] = 2.5
  df.loc[df["grade"] == "T(C+)", "grade"] = 2.5

  df.loc[df["grade"] == "C", "grade"] = 2
  df.loc[df["grade"] == "T(C)", "grade"] = 2

  df.loc[df["grade"] == "D+", "grade"] = 1.5
  df.loc[df["grade"] == "T(D+)", "grade"] = 1.5

  df.loc[df["grade"] == "D", "grade"] = 1
  df.loc[df["grade"] == "T(D)", "grade"] = 1

  df.loc[df["grade"] == "F", "grade"] = 0
  df.loc[df["grade"] == "T(F)", "grade"] = 0
  df.loc[df["grade"] == "U", "grade"] = 0

  return df

df_for_Com = transfromGrade(df_for_Com)
df_for_SpCom = transfromGrade(df_for_SpCom)

df_for_SpCom

,student_id,subject_id,grade,semester,year,curriculum
0,10eb70b54b130d82f2c70add2d31091b,01006031,1,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1,10eb70b54b130d82f2c70add2d31091b,01076004,2,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
2,10eb70b54b130d82f2c70add2d31091b,01076006,1,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
3,10eb70b54b130d82f2c70add2d31091b,01076012,1.5,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
4,10eb70b54b130d82f2c70add2d31091b,01076009,1.5,2,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
...,...,...,...,...,...,...
1320,8b6c9ad43a4fd390abdebfb034b4b330,01076031,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1321,8b6c9ad43a4fd390abdebfb034b4b330,01076103,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1322,8b6c9ad43a4fd390abdebfb034b4b330,01076104,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1323,8b6c9ad43a4fd390abdebfb034b4b330,01076112,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1324,8b6c9ad43a4fd390abdebfb034b4b330,01076118,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)

# **Check Data Discovery**

In [ ]:
for col in df:
    print(df['grade_num'].unique())

[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]

# **Check data type of column**

In [ ]:
# student_id = df['student_id'].unique()
df.dtypes
# df['subject_id'] = df['subject_id'].astype("string")
# df

student_id     object
subject_id     string
grade          object
semester        int64
year            int64
curriculum     object
grade_num     float64
dtype: object

# **Load df to csv**

In [ ]:
df_student.to_csv('student_data.csv',index=False)
df_subject.to_csv('subject_data.csv', index=False)

# Ingest Subject **Data**

In [32]:
df_SubjectData = pd.read_csv('2560+2564.csv', dtype={1:'string',4:'string'}, encoding='TIS-620')

df_SubjectData

,subject_id,subject_name_thai,subject_name_eng,abstract,subject_key,subject_type,year,subject_class
0,1006030,แคลคูลัส 1,CALCULUS 1,"Function, Limit, Continuity and their applicat...",<NA>,คณิตศาสตร์,2560,NaN
1,1006031,แคลคูลัส 2,CALCULUS 2,Functions of several variables and theirs appl...,<NA>,คณิตศาสตร์,2560,NaN
2,1006032,สมการอนุพันธ์และพีชคณิตเชิงเส้นพื้นฐาน,ELEMENTARY DIFFERENTIAL EQUATIONS AND LINEAR A...,Systems of linear equations and solutions. vec...,<NA>,คณิตศาสตร์,2560,NaN
3,1006004,การฝึกงานอุตสาหกรรม,INDUSTRIAL TRAINING,"During their four-year selected studies, stude...",<NA>,เลือกภาค,2560,NaN
4,1006028,เตรียมความพร้อมสําหรับวิศวกร,PRE-ENGINEER ACTIVITIES,Participates in activities organized by the Fa...,<NA>,เลือกภาค,2560,NaN
...,...,...,...,...,...,...,...,...
146,1076584,การจำลองระบบด้วยคอมพิวเตอร์,COMPUTER SIMULATION,Modeling and simulation; continuous and discre...,โครงสร้างพื้นฐานของระบบ,เลือกภาค,2564,NaN
147,1076592,ผู้ประกอบการกับวิศวกร,ENTREPRENEURSHIP AND THE ENGINEER,"Discusses basic concepts of marketing, busines...",วิชาบูรณาการ,เลือกภาค,2564,NaN
148,1076422,การประกอบการและการจัดการด้านเทคโนโลยีสารสนเทศ,IT ENTREPRENEURSHIP AND MANAGEMENT,This course covers the basic of IT entrepreneu...,วิชาบูรณาการ,เลือกภาค,2564,NaN
149,1076423,การวางแผนเชิงกลยุทธ์โดยใช้บอร์ดและการ์ดเกม,STRATEGIC PLANNING USING BOARD AND CARD GAME,"This course covers the strategic planning, stu...",วิชาบูรณาการ,เลือกภาค,2564,NaN
150,1076577,การจัดการโครงการเทคโนโลยีสารสนเทศ,IT PROJECT MANAGEMENT,Meaning of Project; Importance of information ...,วิชาบูรณาการ,เลือกภาค,2564,NaN

# **Change df_SubjectData Columns base subject id from char to int**

In [ ]:
df_SubjectData.dtypes

id                     int64
subject_id            string
subject_name_thai     object
subject_name_eng      object
abstract              string
subject_key           object
subject_type          object
year                   int64
subject_class        float64
dtype: object

In [ ]:
df_for_Com

,student_id,subject_id,grade,semester,year,curriculum
0,f31df81d081367bb50462e95405acd57,01006028,2.5,1,2560,วิศวกรรมคอมพิวเตอร์
1,f31df81d081367bb50462e95405acd57,01006030,1,1,2560,วิศวกรรมคอมพิวเตอร์
2,f31df81d081367bb50462e95405acd57,01076001,2,1,2560,วิศวกรรมคอมพิวเตอร์
3,f31df81d081367bb50462e95405acd57,01076002,3.5,1,2560,วิศวกรรมคอมพิวเตอร์
4,f31df81d081367bb50462e95405acd57,01006031,0,2,2560,วิศวกรรมคอมพิวเตอร์
...,...,...,...,...,...,...
6850,9591ba44152cb89516c3c373d3fc066f,01076140,None,1,2564,วิศวกรรมคอมพิวเตอร์
6851,60ca1ecc1b410f648f31c4c8c0c1326d,01076101,None,1,2564,วิศวกรรมคอมพิวเตอร์
6852,60ca1ecc1b410f648f31c4c8c0c1326d,01076103,None,1,2564,วิศวกรรมคอมพิวเตอร์
6853,60ca1ecc1b410f648f31c4c8c0c1326d,01076104,None,1,2564,วิศวกรรมคอมพิวเตอร์
6854,60ca1ecc1b410f648f31c4c8c0c1326d,01076140,None,1,2564,วิศวกรรมคอมพิวเตอร์

In [33]:
df_for_Com.dtypes
df_Temp = df_for_Com
df_for_Com_Train = df_Temp.dropna()
df_for_Com_Train

,student_id,subject_id,grade,semester,year,curriculum
0,f31df81d081367bb50462e95405acd57,01006028,2.5,1,2560,วิศวกรรมคอมพิวเตอร์
1,f31df81d081367bb50462e95405acd57,01006030,1,1,2560,วิศวกรรมคอมพิวเตอร์
2,f31df81d081367bb50462e95405acd57,01076001,2,1,2560,วิศวกรรมคอมพิวเตอร์
3,f31df81d081367bb50462e95405acd57,01076002,3.5,1,2560,วิศวกรรมคอมพิวเตอร์
4,f31df81d081367bb50462e95405acd57,01006031,0,2,2560,วิศวกรรมคอมพิวเตอร์
...,...,...,...,...,...,...
6132,ca5aad28e8ab8415bebae9c5ee531ea4,01006028,4,2,2563,วิศวกรรมคอมพิวเตอร์
6133,ca5aad28e8ab8415bebae9c5ee531ea4,01006031,1.5,2,2563,วิศวกรรมคอมพิวเตอร์
6134,ca5aad28e8ab8415bebae9c5ee531ea4,01076003,2,2,2563,วิศวกรรมคอมพิวเตอร์
6135,ca5aad28e8ab8415bebae9c5ee531ea4,01076004,2,2,2563,วิศวกรรมคอมพิวเตอร์
6136,ca5aad28e8ab8415bebae9c5ee531ea4,01076012,2,2,2563,วิศวกรรมคอมพิวเตอร์

In [ ]:
q_find_AllSub = "SELECT DISTINCT(subject_id) FROM df_for_Com"
df_distinct_sub = sqldf(q_find_AllSub)
df_distinct_sub

   subject_id
0    01006028
1    01006030
2    01076001
3    01076002
4    01006031
..        ...
69   01046602
70   01006022
71   01006023
72   01046603
73   01236133

[74 rows x 1 columns]

# **NLP**

In [20]:
pip install --user -U nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)

In [21]:
import os
import gensim
import spacy
import en_core_web_sm
import nltk
import math
nltk.download('stopwords')
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))

nlp = en_core_web_sm.load()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [22]:
df_subject_pre_nlp = pd.read_csv('2560+2564.csv',dtype={1:'string'},encoding='TIS-620')
df_subject_pre_nlp = df_subject_pre_nlp.drop_duplicates('subject_id', keep='first')
df_subject_pre_nlp = df_subject_pre_nlp.reset_index()
df_subject_pre_nlp

,index,subject_id,subject_name_thai,subject_name_eng,abstract,subject_key,subject_type,year,subject_class
0,0,1006030,แคลคูลัส 1,CALCULUS 1,"Function, Limit, Continuity and their applicat...",NaN,คณิตศาสตร์,2560,NaN
1,1,1006031,แคลคูลัส 2,CALCULUS 2,Functions of several variables and theirs appl...,NaN,คณิตศาสตร์,2560,NaN
2,2,1006032,สมการอนุพันธ์และพีชคณิตเชิงเส้นพื้นฐาน,ELEMENTARY DIFFERENTIAL EQUATIONS AND LINEAR A...,Systems of linear equations and solutions. vec...,NaN,คณิตศาสตร์,2560,NaN
3,3,1006004,การฝึกงานอุตสาหกรรม,INDUSTRIAL TRAINING,"During their four-year selected studies, stude...",NaN,เลือกภาค,2560,NaN
4,4,1006028,เตรียมความพร้อมสําหรับวิศวกร,PRE-ENGINEER ACTIVITIES,Participates in activities organized by the Fa...,NaN,เลือกภาค,2560,NaN
...,...,...,...,...,...,...,...,...,...
110,145,1076635,เครือข่ายสวิตซ์ไอพี,IP SWITCHED NETWORKS,The main objective of this course is to provid...,"โครงสร้างพื้นฐานของระบบ,เน็ตเวิร์ค",เลือกภาค,2564,NaN
111,147,1076592,ผู้ประกอบการกับวิศวกร,ENTREPRENEURSHIP AND THE ENGINEER,"Discusses basic concepts of marketing, busines...",วิชาบูรณาการ,เลือกภาค,2564,NaN
112,148,1076422,การประกอบการและการจัดการด้านเทคโนโลยีสารสนเทศ,IT ENTREPRENEURSHIP AND MANAGEMENT,This course covers the basic of IT entrepreneu...,วิชาบูรณาการ,เลือกภาค,2564,NaN
113,149,1076423,การวางแผนเชิงกลยุทธ์โดยใช้บอร์ดและการ์ดเกม,STRATEGIC PLANNING USING BOARD AND CARD GAME,"This course covers the strategic planning, stu...",วิชาบูรณาการ,เลือกภาค,2564,NaN
114,150,1076577,การจัดการโครงการเทคโนโลยีสารสนเทศ,IT PROJECT MANAGEMENT,Meaning of Project; Importance of information ...,วิชาบูรณาการ,เลือกภาค,2564,NaN

In [23]:
for sentence in df_subject_pre_nlp['abstract']:
  newsentence = sentence
  listnewsentence = []
  for i in newsentence.split():
    i = i.replace(';',"")
    i = i.replace(',',"")
    listnewsentence.append(i)
  newsentence = set(listnewsentence) - set(STOPWORDS)   
  newsentence = " ".join(list(newsentence))
  df_subject_pre_nlp = df_subject_pre_nlp.replace({'abstract': sentence}, {'abstract': newsentence}, regex=True)
df_subject_pre_nlp

,index,subject_id,subject_name_thai,subject_name_eng,abstract,subject_key,subject_type,year,subject_class
0,0,1006030,แคลคูลัส 1,CALCULUS 1,Introduction Antiderivative definite integrals...,NaN,คณิตศาสตร์,2560,NaN
1,1,1006031,แคลคูลัส 2,CALCULUS 2,three Introduction surfaces dimensions several...,NaN,คณิตศาสตร์,2560,NaN
2,2,1006032,สมการอนุพันธ์และพีชคณิตเชิงเส้นพื้นฐาน,ELEMENTARY DIFFERENTIAL EQUATIONS AND LINEAR A...,Introduction equations nonlinear transformatio...,NaN,คณิตศาสตร์,2560,NaN
3,3,1006004,การฝึกงานอุตสาหกรรม,INDUSTRIAL TRAINING,selected involved responsibility required stud...,NaN,เลือกภาค,2560,NaN
4,4,1006028,เตรียมความพร้อมสําหรับวิศวกร,PRE-ENGINEER ACTIVITIES,advising Participates education preparing succ...,NaN,เลือกภาค,2560,NaN
...,...,...,...,...,...,...,...,...,...
110,145,1076635,เครือข่ายสวิตซ์ไอพี,IP SWITCHED NETWORKS,student LAN speed concepts objective course Et...,"โครงสร้างพื้นฐานของระบบ,เน็ตเวิร์ค",เลือกภาค,2564,NaN
111,147,1076592,ผู้ประกอบการกับวิศวกร,ENTREPRENEURSHIP AND THE ENGINEER,financial basic firms venture debt budgets con...,วิชาบูรณาการ,เลือกภาค,2564,NaN
112,148,1076422,การประกอบการและการจัดการด้านเทคโนโลยีสารสนเทศ,IT ENTREPRENEURSHIP AND MANAGEMENT,basic Financial speech standards covers meetin...,วิชาบูรณาการ,เลือกภาค,2564,NaN
113,149,1076423,การวางแผนเชิงกลยุทธ์โดยใช้บอร์ดและการ์ดเกม,STRATEGIC PLANNING USING BOARD AND CARD GAME,improvement card planning covers strategic com...,วิชาบูรณาการ,เลือกภาค,2564,NaN
114,150,1076577,การจัดการโครงการเทคโนโลยีสารสนเทศ,IT PROJECT MANAGEMENT,Meaning quality time human technology informat...,วิชาบูรณาการ,เลือกภาค,2564,NaN

In [26]:
thisdict = {}
all_docs = [nlp(row) for row in df_subject_pre_nlp['abstract']]
num = 0
for i in range(len(all_docs)):
  check = 0
  sims = []
  if list(thisdict.keys()) == []:
    thisdict[num] = [df_subject_pre_nlp.loc[df_subject_pre_nlp.index == i, 'subject_id'].iloc[0]]
    num += 1
  else:
    for x in thisdict:
      temp = df_subject_pre_nlp.loc[df_subject_pre_nlp['subject_id'] == thisdict[x][0], 'abstract'].iloc[0]
      sim = all_docs[i].similarity(nlp(temp))
      sims.append(sim)
    maxsim = max(sims)
    for x in thisdict:
      temp = df_subject_pre_nlp.loc[df_subject_pre_nlp['subject_id'] == thisdict[x][0], 'abstract'].iloc[0]
      sim = all_docs[i].similarity(nlp(temp))
      if sim >= 0.90 and sim == maxsim:
        thisdict[x].append(df_subject_pre_nlp.loc[df_subject_pre_nlp.index == i, 'subject_id'].iloc[0])
        check = 1
        break
    if check != 1:
      thisdict[num] = [df_subject_pre_nlp.loc[df_subject_pre_nlp.index == i, 'subject_id'].iloc[0]]
      num += 1
print(thisdict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: UserWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: UserWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.

{0: [1006030, 1006031, 1076028, 1076564, 1076591, 1076585, 1076140, 1076042, 1076043, 1076044], 1: [1006032, 1076010, 1076141, 1076032, 1076116, 1076117], 2: [1006004], 3: [1006028], 4: [1076003, 1076107], 5: [1076253], 6: [1076002, 1076004, 1076103, 1076104, 1076592], 7: [1076001, 1076101], 8: [1076005, 1076109, 1076110], 9: [1076006, 1076112, 1076113], 10: [1076007, 1076008, 1076263, 1076023, 1076411, 1076568, 1076566, 1076597, 1076584, 1076034, 1076035, 1076423, 1076577], 11: [1076009, 1076114, 1076115], 12: [1076011, 1076029, 1076632, 1076633, 1076118], 13: [1076012, 1076021, 1076022, 1076513, 1076574, 1076567, 1076050, 1076051, 1076414], 14: [1076013, 1076582, 1076121], 15: [1076014, 1076016], 16: [1076015], 17: [1076024, 1076614, 1076559], 18: [1076025, 1076119, 1076120], 19: [1076026, 1076036, 1076037], 20: [1076027, 1076040, 1076041], 21: [1076311], 22: [1076312], 23: [1076418], 24: [1076419, 1076053], 25: [1076420], 26: [1076421], 27: [1076561], 28: [1076589], 29: [1076595, 1076599, 1076636], 30: [1076596], 31: [1076634], 32: [1076598], 33: [1076583], 34: [1076532], 35: [1076627], 36: [1076628], 37: [1076629, 1076105, 1076106], 38: [1076630], 39: [1076631], 40: [1076108], 41: [1076052], 42: [1006029], 43: [1006005], 44: [1076558], 45: [1076560], 46: [1076533], 47: [1076635], 48: [1076422]}

# **Add Subject Group Into Rating Data**

In [34]:
def findSubjectType(subject_id):
  lisValue = list(thisdict.values())
  lisKeys = list(thisdict.keys())
  subTypes = "Not Found"
  for i in lisKeys:
    if int(subject_id) in thisdict[i]:
      subTypes = str(i)
  return subTypes

for index, row in df_for_Com_Train.iterrows():
    subId = row['subject_id']
    df_for_Com_Train.at[index,'subjectTypes'] = findSubjectType(subId)

for index, row in df_for_Com.iterrows():
    subId = row['subject_id']
    df_for_Com.at[index,'subjectTypes'] = findSubjectType(subId)

df_for_Com.head(50)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,student_id,subject_id,grade,semester,year,curriculum,subjectTypes
0,f31df81d081367bb50462e95405acd57,01006028,2.5,1,2560,วิศวกรรมคอมพิวเตอร์,3
1,f31df81d081367bb50462e95405acd57,01006030,1,1,2560,วิศวกรรมคอมพิวเตอร์,0
2,f31df81d081367bb50462e95405acd57,01076001,2,1,2560,วิศวกรรมคอมพิวเตอร์,7
3,f31df81d081367bb50462e95405acd57,01076002,3.5,1,2560,วิศวกรรมคอมพิวเตอร์,6
4,f31df81d081367bb50462e95405acd57,01006031,0,2,2560,วิศวกรรมคอมพิวเตอร์,0
5,f31df81d081367bb50462e95405acd57,01076003,1,2,2560,วิศวกรรมคอมพิวเตอร์,4
6,f31df81d081367bb50462e95405acd57,01076004,1.5,2,2560,วิศวกรรมคอมพิวเตอร์,6
7,f31df81d081367bb50462e95405acd57,01076012,1,2,2560,วิศวกรรมคอมพิวเตอร์,13
8,f31df81d081367bb50462e95405acd57,01006031,1.5,3,2560,วิศวกรรมคอมพิวเตอร์,0
9,f31df81d081367bb50462e95405acd57,03456227,4,3,2560,วิศวกรรมคอมพิวเตอร์,Not Found
10,f31df81d081367bb50462e95405acd57,01076006,1.5,1,2561,วิศวกรรมคอมพิวเตอร์,9
11,f31df81d081367bb50462e95405acd57,01076005,1.5,2,2561,วิศวกรรมคอมพิวเตอร์,8
12,f31df81d081367bb50462e95405acd57,03456216,4,3,2561,วิศวกรรมคอมพิวเตอร์,Not Found
13,f31df81d081367bb50462e95405acd57,01076008,2.5,1,2562,วิศวกรรมคอมพิวเตอร์,10
14,f31df81d081367bb50462e95405acd57,01076032,0,1,2562,วิศวกรรมคอมพิวเตอร์,1
15,f31df81d081367bb50462e95405acd57,01076263,2.5,1,2562,วิศวกรรมคอมพิวเตอร์,10
16,f31df81d081367bb50462e95405acd57,01076013,2,2,2562,วิศวกรรมคอมพิวเตอร์,14
17,f31df81d081367bb50462e95405acd57,01076014,3.5,2,2562,วิศวกรรมคอมพิวเตอร์,15
18,f31df81d081367bb50462e95405acd57,01076023,4,2,2562,วิศวกรรมคอมพิวเตอร์,10
19,f31df81d081367bb50462e95405acd57,01076423,3.5,2,2562,วิศวกรรมคอมพิวเตอร์,10
20,f31df81d081367bb50462e95405acd57,01076582,2.5,2,2562,วิศวกรรมคอมพิวเตอร์,14
21,f31df81d081367bb50462e95405acd57,01006004,4,3,2562,วิศวกรรมคอมพิวเตอร์,2
22,f31df81d081367bb50462e95405acd57,01076007,1,1,2563,วิศวกรรมคอมพิวเตอร์,10
23,f31df81d081367bb50462e95405acd57,01076011,2,1,2563,วิศวกรรมคอมพิวเตอร์,12
24,f31df81d081367bb50462e95405acd57,01076015,3.5,1,2563,วิศวกรรมคอมพิวเตอร์,16
25,f31df81d081367bb50462e95405acd57,01076026,1.5,1,2563,วิศวกรรมคอมพิวเตอร์,19
26,f31df81d081367bb50462e95405acd57,01076032,2.5,1,2563,วิศวกรรมคอมพิวเตอร์,1
27,f31df81d081367bb50462e95405acd57,01076311,3,1,2563,วิศวกรรมคอมพิวเตอร์,21
28,f31df81d081367bb50462e95405acd57,01076009,2.5,2,2563,วิศวกรรมคอมพิวเตอร์,11
29,f31df81d081367bb50462e95405acd57,01076010,2,2,2563,วิศวกรรมคอมพิวเตอร์,1
30,f31df81d081367bb50462e95405acd57,01076024,3.5,2,2563,วิศวกรรมคอมพิวเตอร์,17
31,f31df81d081367bb50462e95405acd57,01076025,1,2,2563,วิศวกรรมคอมพิวเตอร์,18
32,f31df81d081367bb50462e95405acd57,01076253,2,2,2563,วิศวกรรมคอมพิวเตอร์,5
33,f31df81d081367bb50462e95405acd57,01076312,3.5,2,2563,วิศวกรรมคอมพิวเตอร์,22
34,f31df81d081367bb50462e95405acd57,01076533,3,2,2563,วิศวกรรมคอมพิวเตอร์,46
35,f31df81d081367bb50462e95405acd57,01076021,None,1,2564,วิศวกรรมคอมพิวเตอร์,13
36,f31df81d081367bb50462e95405acd57,01076022,None,1,2564,วิศวกรรมคอมพิวเตอร์,13
37,48c159db28a39eb366ac8ec31b975fb8,01006028,4,1,2560,วิศวกรรมคอมพิวเตอร์,3
38,48c159db28a39eb366ac8ec31b975fb8,01006030,2.5,1,2560,วิศวกรรมคอมพิวเตอร์,0
39,48c159db28a39eb366ac8ec31b975fb8,01076001,3.5,1,2560,วิศวกรรมคอมพิวเตอร์,7
40,48c159db28a39eb366ac8ec31b975fb8,01076002,3,1,2560,วิศวกรรมคอมพิวเตอร์,6
41,48c159db28a39eb366ac8ec31b975fb8,01006031,1.5,2,2560,วิศวกรรมคอมพิวเตอร์,0
42,48c159db28a39eb366ac8ec31b975fb8,01076003,1,2,2560,วิศวกรรมคอมพิวเตอร์,4
43,48c159db28a39eb366ac8ec31b975fb8,01076004,1.5,2,2560,วิศวกรรมคอมพิวเตอร์,6
44,48c159db28a39eb366ac8ec31b975fb8,01076012,4,2,2560,วิศวกรรมคอมพิวเตอร์,13
45,48c159db28a39eb366ac8ec31b975fb8,01006032,2.5,1,2561,วิศวกรรมคอมพิวเตอร์,1
46,48c159db28a39eb366ac8ec31b975fb8,01076006,2,1,2561,วิศวกรรมคอมพิวเตอร์,9
47,48c159db28a39eb366ac8ec31b975fb8,01076007,1,1,2561,วิศวกรรมคอมพิวเตอร์,10
48,48c159db28a39eb366ac8ec31b975fb8,01076009,1.5,2,2561,วิศวกรรมคอมพิวเตอร์,11
49,48c159db28a39eb366ac8ec31b975fb8,01076010,2.5,2,2561,วิศวกรรมคอมพิวเตอร์,1

# **Surprise**

In [35]:
from surprise import Dataset
from surprise import Reader
from surprise import SVD
from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV
import numpy as np

# **Find Grade AVG For SubTypes.**

In [36]:
q_find_AVG = "SELECT student_id, AVG(grade) as grade, semester, year, curriculum, subjectTypes FROM df_for_Com_Train GROUP BY subjectTypes, student_id ORDER BY student_id"
df_for_Com_Train_AVG = sqldf(q_find_AVG)
df_for_Com_Train_AVG

,student_id,grade,semester,year,curriculum,subjectTypes
0,0197dc3d32f1d32bbff2a3bff89e69f9,4.00,1,2562,วิศวกรรมคอมพิวเตอร์,3
1,0197dc3d32f1d32bbff2a3bff89e69f9,3.00,1,2562,วิศวกรรมคอมพิวเตอร์,Not Found
2,025f749d7a5d9b5c3f3d57b68e1de9e9,1.50,2,2562,วิศวกรรมคอมพิวเตอร์,0
3,025f749d7a5d9b5c3f3d57b68e1de9e9,0.50,1,2563,วิศวกรรมคอมพิวเตอร์,1
4,025f749d7a5d9b5c3f3d57b68e1de9e9,2.25,2,2563,วิศวกรรมคอมพิวเตอร์,10
...,...,...,...,...,...,...
3638,fe38534f82b88c58b9acc94cd2280246,3.00,2,2562,วิศวกรรมคอมพิวเตอร์,5
3639,fe38534f82b88c58b9acc94cd2280246,3.50,2,2561,วิศวกรรมคอมพิวเตอร์,6
3640,fe38534f82b88c58b9acc94cd2280246,4.00,1,2561,วิศวกรรมคอมพิวเตอร์,7
3641,fe38534f82b88c58b9acc94cd2280246,4.00,1,2562,วิศวกรรมคอมพิวเตอร์,8
3642,fe38534f82b88c58b9acc94cd2280246,4.00,1,2562,วิศวกรรมคอมพิวเตอร์,9

# **Find User And Their Grade.**

In [ ]:
q_u_grade = "SELECT * FROM df_for_Com_Train_AVG WHERE student_id = 'f31df81d081367bb50462e95405acd57'"
df_user_grade = sqldf(q_u_grade)
df_user_grade

,student_id,grade,semester,year,curriculum,subjectTypes
0,f31df81d081367bb50462e95405acd57,1.000000,1,2563,วิศวกรรมคอมพิวเตอร์,0
1,f31df81d081367bb50462e95405acd57,4.000000,3,2562,วิศวกรรมคอมพิวเตอร์,1
2,f31df81d081367bb50462e95405acd57,1.000000,2,2560,วิศวกรรมคอมพิวเตอร์,10
3,f31df81d081367bb50462e95405acd57,3.500000,2,2562,วิศวกรรมคอมพิวเตอร์,11
4,f31df81d081367bb50462e95405acd57,3.500000,1,2563,วิศวกรรมคอมพิวเตอร์,12
5,f31df81d081367bb50462e95405acd57,1.000000,2,2563,วิศวกรรมคอมพิวเตอร์,13
6,f31df81d081367bb50462e95405acd57,1.500000,1,2563,วิศวกรรมคอมพิวเตอร์,14
7,f31df81d081367bb50462e95405acd57,3.500000,2,2563,วิศวกรรมคอมพิวเตอร์,16
8,f31df81d081367bb50462e95405acd57,2.500000,2,2563,วิศวกรรมคอมพิวเตอร์,2
9,f31df81d081367bb50462e95405acd57,2.500000,2,2562,วิศวกรรมคอมพิวเตอร์,26
10,f31df81d081367bb50462e95405acd57,1.000000,2,2560,วิศวกรรมคอมพิวเตอร์,3
11,f31df81d081367bb50462e95405acd57,3.000000,1,2563,วิศวกรรมคอมพิวเตอร์,32
12,f31df81d081367bb50462e95405acd57,3.000000,2,2563,วิศวกรรมคอมพิวเตอร์,37
13,f31df81d081367bb50462e95405acd57,3.500000,2,2562,วิศวกรรมคอมพิวเตอร์,39
14,f31df81d081367bb50462e95405acd57,2.750000,2,2563,วิศวกรรมคอมพิวเตอร์,4
15,f31df81d081367bb50462e95405acd57,2.750000,2,2563,วิศวกรรมคอมพิวเตอร์,5
16,f31df81d081367bb50462e95405acd57,1.500000,2,2561,วิศวกรรมคอมพิวเตอร์,6
17,f31df81d081367bb50462e95405acd57,2.000000,2,2563,วิศวกรรมคอมพิวเตอร์,7
18,f31df81d081367bb50462e95405acd57,2.333333,2,2562,วิศวกรรมคอมพิวเตอร์,8
19,f31df81d081367bb50462e95405acd57,2.000000,1,2563,วิศวกรรมคอมพิวเตอร์,9
20,f31df81d081367bb50462e95405acd57,4.000000,3,2561,วิศวกรรมคอมพิวเตอร์,Not Found

# **Check Data is Subject In trainset**

In [ ]:
q_check_subject = "SELECT * FROM df_for_Com_Train WHERE subject_id = '01076420'"
df_check_subject = sqldf(q_check_subject)
df_check_subject

Empty DataFrame
Columns: [student_id, subject_id, grade, semester, year, curriculum, subjectTypes]
Index: []

In [37]:
min_rating = 0
max_rating = 4

reader = Reader(rating_scale=(min_rating, max_rating))
data = Dataset.load_from_df(df_for_Com_Train_AVG[['student_id', 'subjectTypes', 'grade']], reader)

svd = SVD(n_epochs=10)
results = cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=10, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.5315  0.5705  0.5485  0.5827  0.5475  0.5598  0.5660  0.5389  0.5692  0.5865  0.5601  0.0173
MAE (testset)     0.3910  0.4367  0.4103  0.4378  0.4171  0.4107  0.4192  0.4031  0.4303  0.4323  0.4188  0.0147
Fit time          0.10    0.10    0.10    0.10    0.10    0.10    0.10    0.10    0.11    0.11    0.10    0.00
Test time         0.00    0.01    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.01    0.00    0.00

In [38]:
param_grid = {
  'n_factors': [20, 50, 100],
  'n_epochs': [5, 10, 20]
}
 
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=10)
gs.fit(data)
 
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.5340764094678272
{'n_factors': 20, 'n_epochs': 20}

In [39]:
best_factor = gs.best_params['rmse']['n_factors']
best_epoch = gs.best_params['rmse']['n_epochs']
trainset, testset = train_test_split(data, test_size=.20)

In [40]:
svd = SVD(n_factors=best_factor, n_epochs=best_epoch)
svd.fit(trainset)

In [ ]:
q_Soft = "SELECT * FROM df_SubjectData WHERE subject_type='ซอฟต์แวร์';"
df_SubSoft = sqldf(q_Soft)
df_SubSoft

,subject_id,subject_name_thai,subject_name_eng,abstract,basesubject_id,subject_key,subject_type,del_flag,year
0,01076002,พื้นฐานการเขียนโปรแกรมคอมพิวเตอร์,PROGRAMMING FUNDAMENTAL,Introduction to fundamental concepts of proced...,01076002,None,ซอฟต์แวร์,None,2560.0
1,01076004,การเขียนโปรแกรมเชิงวัตถุ,OBJECT ORIENTED PROGRAMMING,The design and implementation of software usin...,01076004,None,ซอฟต์แวร์,None,2560.0
2,01076005,โครงสร้างข้อมูลและอัลกอริทึม,DATA STRUCTURES AND ALGORITHM,Fundamental of solving problems using data str...,01076005,None,ซอฟต์แวร์,None,2560.0
3,01076008,กระบวนการพัฒนาซอฟต์แวร์,SOFTWARE DEVELOPMENT PROCESSES,Introduction to modern software development pr...,01076008,None,ซอฟต์แวร์,None,2560.0
4,01076011,ระบบปฎิบัติการ,OPERATING SYSTEMS,Organization and structure of operating system...,01076011,None,ซอฟต์แวร์,None,2560.0
5,01076263,ระบบฐานข้อมูล,DATABASE SYSTEMS,Database system concepts; files and databases;...,01076263,None,ซอฟต์แวร์,None,2560.0
6,01076024,สถาปัตยกรรมและการออกแบบซอฟต์แวร์,SOFTWARE ARCHITECTURE AND DESIGN,This course introduces basic concepts and prin...,01076024,None,ซอฟต์แวร์,None,2560.0
7,01076025,สตูดิโอซอฟต์แวร์,SOFTWARE STUDIO,This course is part of software development pr...,01076025,None,ซอฟต์แวร์,None,2560.0
8,01076026,การออกแบบประสบการณ์และส่วนติดต่อผู้ใช้,USER EXPERIENCE AND USER INTERFACE DESIGN,This course provides a comprehensive overview ...,01076026,None,ซอฟต์แวร์,None,2560.0
9,01076234,การเขียนโปรแกรมคอมพิวเตอร์ 1,COMPUTER PROGRAMMING 1,History of computing; basic concepts associate...,01076002,None,ซอฟต์แวร์,None,2554.0
10,01076235,การเขียนโปรแกรมคอมพิวเตอร์ 2,COMPUTER PROGRAMMING 2,"Object-oriented programming principles, method...",01076004,None,ซอฟต์แวร์,None,2554.0
11,01076259,ระบบปฎิบัติการ,OPERATING SYSTEMS,Overview and history of operating systems; Ope...,01076011,None,ซอฟต์แวร์,None,2554.0
12,01076249,โครงสร้างข้อมูลและอัลกอริทึม,DATA STRUCTURES AND ALGORITHMS,Data Structure Definitions; Algorithm Definiti...,01076005,None,ซอฟต์แวร์,None,2554.0
13,01076250,ปฏิบัติการโครงสร้างข้อมูลและอัลกอริทึม,DATA STRUCTURES AND ALGORITHMS LABORATORY,The experiments related to 01076249 DATA STRUC...,01076005,None,ซอฟต์แวร์,None,2554.0
14,01076254,การวิเคราะห์และออกแบบเชิงวัตถุ,OBJECT-ORIENTED ANALYSIS AND DESIGN,Object-oriented design; encapsulation; informa...,01076008,None,ซอฟต์แวร์,None,2554.0
15,01076256,วิศวกรรมซอฟต์แวร์,SOFTWARE ENGINEERING,Professional software development approaches; ...,01076024,None,ซอฟต์แวร์,None,2554.0

# **Find Number of All subtype of subject.**

In [41]:
NumOfSub = len(list(thisdict.keys()))
NumOfSub

49

In [46]:
def nan_grade_sub(student):
  df_onlyNull = df_for_Com.loc[df_for_Com['student_id'] == student]
  df_onlyNull = df_onlyNull[df_onlyNull['grade'].isna()]
  lis = df_onlyNull['subject_id'].tolist()
  return lis

def nan_grade_sub_Type(student):
  df_onlyNull = df_for_Com.loc[df_for_Com['student_id'] == student]
  df_onlyNull = df_onlyNull[df_onlyNull['grade'].isna()]
  lis = df_onlyNull['subjectTypes'].unique().tolist()
  return lis


def generate_recommendation(model, student_id, df, subject, n_items):
   # Get a list of all movie IDs from dataset
   subject_ids = df["subject_id"].unique()
   targetSub = nan_grade_sub(student_id)
   # Get a list of all movie IDs that have been watched by user
   subject_ids_student = df.loc[df["student_id"] == student_id, "subject_id"]
    # Get a list off all movie IDS that that have not been watched by user
   subject_ids_to_pred = np.setdiff1d(subject_ids, subject_ids_student)
 
   # Apply a rating of 4 to all interactions (only to match the Surprise dataset format)
   test_set = [[student_id, subject_id, 4] for subject_id in subject_ids_to_pred]
 
   # Predict the ratings and generate recommendations
   predictions = model.test(test_set)
   pred_ratings = np.array([pred.est for pred in predictions])
   print("Top {0} item recommendations for student {1}:".format(n_items, student_id))
   # Rank top-n movies based on the predicted ratings
   index_max = (-pred_ratings).argsort()[:n_items]
   for i in index_max:
       subject_id = subject_ids_to_pred[i]
       if subject_id in targetSub:
        print(subject_id, pred_ratings[i])


def generate_recommendation_for_Types(model, student_id, df, subject, n_items):
   subject_ids = df["subjectTypes"].unique()

   subject_ids_student = df.loc[df["student_id"] == student_id, "subjectTypes"]
   print("subject_ids_student {0}".format(list(subject_ids_student)))

   subject_ids_to_pred = np.setdiff1d(subject_ids, subject_ids_student)
   print("subject_ids_to_pred {0}".format(subject_ids_to_pred))
   
   test_set = [[student_id, subject_id, 4] for subject_id in subject_ids_to_pred]
   predictions = model.test(test_set)
   pred_ratings = np.array([pred.est for pred in predictions])
   print("Top {0} item recommendations for student {1}:".format(n_items, student_id))
   index_max = (-pred_ratings).argsort()[:n_items]
   for i in index_max:
       subject_id = subject_ids_to_pred[i]
       print(subject_id, pred_ratings[i])
 
# define which user ID that we want to give recommendation
userID = 'f31df81d081367bb50462e95405acd57'
# define how many top-n movies that we want to recommend
n_items = NumOfSub
# generate recommendation using the model that we have trained
generate_recommendation_for_Types(svd,userID,df_for_Com_Train_AVG,df_SubjectData,n_items)

subject_ids_student ['0', '1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2', '21', '22', '3', '4', '46', '5', '6', '7', '8', '9', 'Not Found']
subject_ids_to_pred ['20' '24' '29' '32' '38' '48']
Top 49 item recommendations for student f31df81d081367bb50462e95405acd57:
38 2.7599125682988053
24 2.657175760366085
32 2.492031826535238
48 2.4866372926648985
29 2.3883020586129566
20 2.017986129318273

# **Optimized Recommend And Make it Generate Filled Form CSV**

In [47]:
student_id_lis = list(df_for_Com_Train_AVG["student_id"].unique())

def generateFullCSV(model, lis, subject, df, curri, n_items):
    targetDF = df_for_Com_Train_AVG
    for i in lis:
      subject_ids = df["subjectTypes"].unique()
      subject_ids_student = df.loc[df["student_id"] == i, "subjectTypes"]
      subject_ids_to_pred = np.setdiff1d(subject_ids, subject_ids_student)
      test_set = [[i, subject_id, 4] for subject_id in subject_ids_to_pred]
      predictions = model.test(test_set)
      pred_ratings = np.array([pred.est for pred in predictions])
      index_max = (-pred_ratings).argsort()[:n_items]
      for j in index_max:
       subject_id = subject_ids_to_pred[j]
       targetDF = targetDF.append({'student_id' : i, 'grade' : pred_ratings[j], 'semester' : 'prediction', 'year' : 'prediction', 'curriculum' : curri, 'subjectTypes' : subject_id}, ignore_index=True)
    return targetDF
    
final_df = generateFullCSV(svd, student_id_lis, 'sub', df_for_Com_Train_AVG,'วิศวกรรมคอมพิวเตอร์', NumOfSub)
final_df

,student_id,grade,semester,year,curriculum,subjectTypes
0,0197dc3d32f1d32bbff2a3bff89e69f9,4.000000,1,2562,วิศวกรรมคอมพิวเตอร์,3
1,0197dc3d32f1d32bbff2a3bff89e69f9,3.000000,1,2562,วิศวกรรมคอมพิวเตอร์,Not Found
2,025f749d7a5d9b5c3f3d57b68e1de9e9,1.500000,2,2562,วิศวกรรมคอมพิวเตอร์,0
3,025f749d7a5d9b5c3f3d57b68e1de9e9,0.500000,1,2563,วิศวกรรมคอมพิวเตอร์,1
4,025f749d7a5d9b5c3f3d57b68e1de9e9,2.250000,2,2563,วิศวกรรมคอมพิวเตอร์,10
...,...,...,...,...,...,...
9265,fe38534f82b88c58b9acc94cd2280246,3.691063,prediction,prediction,วิศวกรรมคอมพิวเตอร์,16
9266,fe38534f82b88c58b9acc94cd2280246,3.661729,prediction,prediction,วิศวกรรมคอมพิวเตอร์,22
9267,fe38534f82b88c58b9acc94cd2280246,3.632616,prediction,prediction,วิศวกรรมคอมพิวเตอร์,21
9268,fe38534f82b88c58b9acc94cd2280246,3.579615,prediction,prediction,วิศวกรรมคอมพิวเตอร์,29
9269,fe38534f82b88c58b9acc94cd2280246,3.490284,prediction,prediction,วิศวกรรมคอมพิวเตอร์,46

# **Check Data**

In [48]:
q_check_data = "SELECT * FROM final_df WHERE student_id = 'f31df81d081367bb50462e95405acd57' ORDER BY subjectTypes"
df_check_data = sqldf(q_check_data)
df_check_data

,student_id,grade,semester,year,curriculum,subjectTypes
0,f31df81d081367bb50462e95405acd57,0.833333,3,2560,วิศวกรรมคอมพิวเตอร์,0
1,f31df81d081367bb50462e95405acd57,1.500000,2,2563,วิศวกรรมคอมพิวเตอร์,1
2,f31df81d081367bb50462e95405acd57,2.700000,1,2563,วิศวกรรมคอมพิวเตอร์,10
3,f31df81d081367bb50462e95405acd57,2.500000,2,2563,วิศวกรรมคอมพิวเตอร์,11
4,f31df81d081367bb50462e95405acd57,2.000000,1,2563,วิศวกรรมคอมพิวเตอร์,12
5,f31df81d081367bb50462e95405acd57,1.000000,2,2560,วิศวกรรมคอมพิวเตอร์,13
6,f31df81d081367bb50462e95405acd57,2.250000,2,2562,วิศวกรรมคอมพิวเตอร์,14
7,f31df81d081367bb50462e95405acd57,3.500000,2,2562,วิศวกรรมคอมพิวเตอร์,15
8,f31df81d081367bb50462e95405acd57,3.500000,1,2563,วิศวกรรมคอมพิวเตอร์,16
9,f31df81d081367bb50462e95405acd57,3.500000,2,2563,วิศวกรรมคอมพิวเตอร์,17
10,f31df81d081367bb50462e95405acd57,1.000000,2,2563,วิศวกรรมคอมพิวเตอร์,18
11,f31df81d081367bb50462e95405acd57,1.500000,1,2563,วิศวกรรมคอมพิวเตอร์,19
12,f31df81d081367bb50462e95405acd57,4.000000,3,2562,วิศวกรรมคอมพิวเตอร์,2
13,f31df81d081367bb50462e95405acd57,2.017986,prediction,prediction,วิศวกรรมคอมพิวเตอร์,20
14,f31df81d081367bb50462e95405acd57,3.000000,1,2563,วิศวกรรมคอมพิวเตอร์,21
15,f31df81d081367bb50462e95405acd57,3.500000,2,2563,วิศวกรรมคอมพิวเตอร์,22
16,f31df81d081367bb50462e95405acd57,2.657176,prediction,prediction,วิศวกรรมคอมพิวเตอร์,24
17,f31df81d081367bb50462e95405acd57,2.388302,prediction,prediction,วิศวกรรมคอมพิวเตอร์,29
18,f31df81d081367bb50462e95405acd57,2.500000,1,2560,วิศวกรรมคอมพิวเตอร์,3
19,f31df81d081367bb50462e95405acd57,2.492032,prediction,prediction,วิศวกรรมคอมพิวเตอร์,32
20,f31df81d081367bb50462e95405acd57,2.759913,prediction,prediction,วิศวกรรมคอมพิวเตอร์,38
21,f31df81d081367bb50462e95405acd57,1.000000,2,2560,วิศวกรรมคอมพิวเตอร์,4
22,f31df81d081367bb50462e95405acd57,3.000000,2,2563,วิศวกรรมคอมพิวเตอร์,46
23,f31df81d081367bb50462e95405acd57,2.486637,prediction,prediction,วิศวกรรมคอมพิวเตอร์,48
24,f31df81d081367bb50462e95405acd57,2.000000,2,2563,วิศวกรรมคอมพิวเตอร์,5
25,f31df81d081367bb50462e95405acd57,2.500000,2,2560,วิศวกรรมคอมพิวเตอร์,6
26,f31df81d081367bb50462e95405acd57,2.000000,1,2560,วิศวกรรมคอมพิวเตอร์,7
27,f31df81d081367bb50462e95405acd57,1.500000,2,2561,วิศวกรรมคอมพิวเตอร์,8
28,f31df81d081367bb50462e95405acd57,1.500000,1,2561,วิศวกรรมคอมพิวเตอร์,9
29,f31df81d081367bb50462e95405acd57,4.000000,3,2561,วิศวกรรมคอมพิวเตอร์,Not Found

# **Test RMSE for Elective Subject**

In [ ]:
df_SubjectData_Elective = pd.read_csv('เลือกภาคปกติ.csv', dtype={0:'string',1:'string'}, encoding='TIS-620')
df_SubjectData_Elective
df_Temp = df_SubjectData_Elective
df_SubjectData_Elective_NoNull = df_Temp.dropna()
df_SubjectData_Elective_NoNull

   count(grade_num) grade_num
0                 1         0
1                 2         1
2                10       1.5
3                25         2
4                91       2.5
5               297         3
6               691       3.5
7              1402         4

In [ ]:
reader_elec = Reader(rating_scale=(min_rating, max_rating))
data_elec = Dataset.load_from_df(df_SubjectData_Elective_NoNull[['student_id', 'subject_id', 'grade_num']], reader_elec)

svd_elec = SVD(n_epochs=10)
results_elec = cross_validate(svd_elec, data_elec, measures=['RMSE', 'MAE'], cv=10, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.4374  0.3892  0.4423  0.3972  0.4836  0.4031  0.4745  0.4460  0.4320  0.4012  0.4306  0.0310
MAE (testset)     0.3269  0.3033  0.3165  0.3056  0.3499  0.3073  0.3198  0.3111  0.3246  0.3180  0.3183  0.0130
Fit time          0.06    0.06    0.07    0.07    0.06    0.07    0.06    0.06    0.07    0.06    0.07    0.00
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.00

In [ ]:
gs_elec = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=10)
gs_elec.fit(data_elec)
 
print(gs_elec.best_score['rmse'])
print(gs_elec.best_params['rmse'])

0.4131523189930646
{'n_factors': 20, 'n_epochs': 20}

# **Data Discovery**

**Query Grade Count Elective**

In [ ]:
q_grade_Elec = "SELECT count(grade_num), grade_num FROM df_SubjectData_Elective_NoNull GROUP BY grade_num"
df_grade_Elec = sqldf(q_grade_Elec)
df_grade_Elec

   count(grade_num) grade_num
0                 1         0
1                 2         1
2                10       1.5
3                25         2
4                91       2.5
5               297         3
6               691       3.5
7              1402         4

**Query Grade Count Constrain Main Subject**

In [ ]:
q_grade_Main = "SELECT count(grade), grade FROM df_for_Com_Train GROUP BY grade"
df_grade_Main = sqldf(q_grade_Main)
df_grade_Main

   count(grade) grade
0            45     0
1            91     1
2           156   1.5
3           416     2
4           716   2.5
5          1108     3
6          1116   3.5
7          1236     4